body {
    background-image: url("https://images.unsplash.com/photo-1551225183-94acb7d595b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(232, 228, 227);
    display:flex;
    opacity: .94;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 20px;
    height: 80%;
    margin-top: 5em;
    
} 

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#story {
    padding: 2em;
}

#story-select {
    font-size: 1.5em;
}

p {
    line-height: 2em;
    font-size: 1.5em;
}

.sideby {
    padding: .3em;
}

#stories{
 max-width: 80%;
 font-size: .8em;
}

.submit {
    font-size: 1em;
    border-radius: 5px;
}

select, .submit {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1em;
}

@media (max-width: 600px) {
    .container form {
        padding-left: 2em;
        padding-right: 2em;
    }
    .container input {
        text-align: center;
    }
    .sideby {
        display: flex;
        flex-direction: column;
    }
}






   
