<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <div class="container">
        <h1>Mad Libs</h1>
        <div id="story-select">
            {% block story_select %}
            {% endblock %}
        </div>
        <div id="form">
            {% block form %}
            {% endblock %}
        </div>
        <div id="story">
            {% block story %}
            {% endblock %}
        </div>
    </div>
<script src="/static/app.js"></script>
</body>
</html>